body {
	background-color: #ffffff;
	font-family: BodyText, serif;
	min-height: 100vh;
}

h2 {
	text-decoration-line: underline;
}

@font-face {
	font-family: FontText;
	src: url("times-new-roman.ttf?#iefix") format("truetype");
}